<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{ title }}</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/GeneralStyle.css')}}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/ShowStyle.css') }}">
	
</head>
<body>

 <main>
 	<div class="title_page">
 		<span>{{ title }}</span>
 	</div>
 	<div class="back_menu">
 		<a href="{{ url_for('index') }}">В главное меню</a>
 	</div>
 {% for elem in info %}
	<div class="block_info">
		<div class="departure">
			<span>Отправление:</span><span>{{ elem.Departure }}</span>
		</div>
		<div class="arrival">
			<span>Прибытие:</span><span>{{ elem.Arrival }}</span>
		</div>
		<div class="path">
			<span>{{ elem.Path }}</span>
		</div>
		<div class="price">
			<span>{{ elem.Price }}</span>
		</div>
	</div>
 {% endfor %}
 </main>

</body>

<script src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='js/javascript.js') }}" type="text/javascript"></script>

</html>